.tree {
  width: 100%;
  padding: 20px;
  background: #fff;
}

.tree-branch {
  margin-bottom: 0;
}

.tree-leave {
  padding-right: 0;
}
.tree-leave span {
  display: block;
  border: 1px solid #fff;
  background-color: #00c292;
  padding: 5px;
  padding-right: 0;
  color: #fff;
}
.tree-leave:last-child {
  margin-bottom: 0;
}

.tree-leave > .tree-branch {
  padding-right: 0;
  margin-right: 0;
  margin-left: 20px;
}

.tree-branch > .tree-leave:last-child {
  margin-bottom: 0;
}

.tree-leave>span.is-item-over {
  background-color: #ccc;
}
